doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Explore our Special Outfits
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet" href="explore.css") 

  body
    nav.brandbar
      span.brand-name ReStyle

    .moving-banner
      p ✨
        b Welcome 
        | here you can explore 
        strong ReStyle Outfit 
        | of your wish. Discover & Share Fashion Trends! Offers will be available soon✨

    .filter-section
      h2 Filter Outfits
      form#filter-form
        label(for="category") Category:
        select#category(required)
          option(value="" disabled selected) Select Category
          option(value="women") Women
          option(value="men") Men
          option(value="kids") Kids

        label(for="item-name") Item Name:
        select#item-name(required)
          option(value="" disabled selected) Select an Occasion
          option(value="job-interview") Job Interviews
          option(value="wedding") Wedding
          option(value="birthday-party") Birthday Party
          option(value="date-night") Date Night
          option(value="school-events") School Events

        label(for="size") Size:
        select#size(required)
          option(value="selected" disabled selected) Select Size
          option(value="xs") XS (12-13 yrs)
          option(value="s") S (14-15 yrs)
          option(value="m") M (16-17 yrs)
          option(value="l") L (18-19 yrs)
          option(value="xl") XL (20+ yrs)
          option(value="xxl") XXL (Adults, Plus Size)

        button(type="submit") Apply Filters

    section#explore-more
      .container
        a.back-home-fixed(href="home") ⬅Home
        b Explore Our Special Outfit

        .outfit-grid
          each outfit in outfits
            .outfit-card
              a(href=`/outfit/${outfit.id}`) 
                .outfit-image
                  img(src=outfit.image alt=outfit.name, width="150", height="150")
              .outfit-info
                    h3= outfit.name
                    p Size: #{outfit.size}
                    p Price: #{outfit.price}
                    button.buy-btn Buy Now
                    i.fav-icon.fas.fa-heart(title="Add to saved items")    

    footer
      .footer-container
        p Fashion Icon - ReStyle
        p London, United Kingdom
        p &copy; 2025 Fashion Icon. All rights reserved.
        p Contact us: 
          a(href="tel:+1234567890") +1 (234) 567-890
        p LET'S CONNECT!!
        .social-media
          a(href="#" title="Facebook") 
            i.fa-brands.fa-facebook
          a(href="#" title="Twitter") 
            i.fa-brands.fa-twitter
          a(href="#" title="Instagram") 
            i.fa-brands.fa-instagram
        p: a(href="#share-section") HowToShare
        p: a(href="#privacy-section") Privacy

    script(src="explore.js")
