doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User Profile
    link(rel="stylesheet", href="/css/profile.css")
  body
    .profile-container
      .header
        img.avatar(src="/images/default-avatar.png", alt="Profile Picture")
        .user-info
          h1.username #{user.name || "User Name"}
          p.bio #{user.bio || "This is a brief profile description/bio about the user."}
          a.edit-profile-btn(href="/profile/edit") Edit Profile
      .categories
        .category
          h2 Donate
          p.count #{user.donateCount || 0}
        .category
          h2 Sell
          p.count #{user.sellCount || 0}
        .category
          h2 Rent
          p.count #{user.rentCount || 0}
      button.logout-btn(type="button", onclick="logout()") Logout
    script(src="/js/profile.js")
