doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User List
    link(rel="stylesheet", href="home.css")
    link(rel="stylesheet", href="userlist.css")
  body
    h1 All Users Sharing Outfits for Special Occasions

    // Display a list of users
    .user-list
      each user in users
        .user-card
          img(src=user.img, alt="Profile picture of #{user.name}", class="profile-img")
          h3 #{user.name}
          p Outfits Available: #{user.outfits}
          p Tags: #{user.tags}
          // To view profile for specific user click view profile
          a(href=`/user-profile/${user.id}`) View Profile   


    script(src="script.js")
